@charset "utf-8";
.container_common{
    padding: 10px 15px;
    box-sizing: border-box;
}
.common_bg_gray{
    background-color: #f1f1f1;
}
.common_bg_white{
    background-color: #fff;
}
.common_query_form_wrap{
    margin-top: 20px;
}
.common_query_form_wrap .queryBtn_wrap{
    display: block;
    text-align: right;
}
.el-form-item.queryBtn_wrap::after, .el-form-item.queryBtn_wrap::before{
    content: normal;
}
.common_result_wrap{
    margin: 20px 0;
}
.common_result_wrap  .el-table .el-table__header-wrapper thead tr th{
    background-color:#4e9ec5;
    color: #fff;
}
.distpicker-address-wrapper select{
    width: 180px;
}
.echart_wrap .echart_titile{
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}
/* 重置 弹出框样式 */
.el-dialog{

}
.el-dialog .el-dialog__header,
.el-message-box .el-message-box__header{
    padding: 10px 20px;
    background-color: #63b1d7;
}
.el-dialog .el-dialog__header .el-dialog__title,
.el-dialog .el-dialog__header .el-dialog__headerbtn i.el-dialog__close,
.el-message-box .el-message-box__header .el-message-box__title,
.el-message-box .el-message-box__header i.el-message-box__close{
    color: #fff;
}
.el-dialog .el-dialog__header .el-dialog__headerbtn{
    top: 14px;
}
.el-message-box .el-message-box__header .el-message-box__headerbtn{
    top: 10px;
}
.el-dialog .el-dialog__header .el-dialog__headerbtn i.el-dialog__close,
.el-message-box .el-message-box__header .el-message-box__close{
    font-size: 20px;
}
.el-message-box{
    border: none;
}
.el-loading-mask{
    z-index: 1000 !important;
}